<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
  <h2>Your Input:</h2>
  <p><%= @input %></p>
  <h2>Your Transcription:</h2>
  <p><%= @piglatin %></p>
  </body>
</html>