<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method = "POST" action = "/piglatinize">
      <h2>Enter your phrase: <input type = "text" name = "user_phrase" id = "user_phrase"></h2>
      <input type = "submit" value = Submit>
    </form>
  </body>
</html>